.footer {
    height: 113px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    color: #242424;
}