body {
  margin: 0;
  padding: 0;
  padding-bottom: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rebeccapurple;
}

p {
  background: antiquewhite;
}

.red-title {
  background: rgb(189, 189, 189);
  color: rgb(78, 78, 78);
  border: 3px solid rgb(75, 75, 75);
}

.title {
  background: grey;
  color: rgb(17, 100, 17);
  border: 3px solid rgb(52, 136, 56);
}

