body {
  text-align: center;
  background: radial-gradient(circle, #c9aa82, #6b3809 );
}

.tabelaCarros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  color: #d6d6d6;
}

h1 span {
  color: rgb(70, 46, 1);
  border-radius: 30px;
  outline: 2px solid #cacaca;
  outline-offset: 4px;
}